In [2]:
import sqlite3
con = sqlite3.connect("classrom.db")
con.close()

In [13]:
con = sqlite3.connect("classroom.db")
cursor = con.cursor()
drop_table = "drop table classroom"
create_table = """CREATE TABLE classroom (
                student_id INTEGER PRIMARY KEY, 
                name VARCHAR2, 
                gender CHAR(1),
                physics_marks int,
                chemistry_marks int,
                mathematics_marks int);"""
cursor.execute(drop_table)
cursor.execute(create_table)
print("Table Created!!")
con.commit()

Table Created!!

In [14]:
student_list = [(1, "Rahul","M",84,88,81), (2,"Raghav","M",54,55,63), (3,"Vasu","M",89,63,78)]

for student in student_list:
    insert_stmt = """INSERT INTO classroom 
    VALUES 
    ({0},"{1}","{2}",{3},{4},{5})""".format(student[0],student[1],student[2],student[3],student[4],student[5])
    cursor.execute(insert_stmt)
    print ("New Student named {} added".format(student[1]))
con.commit()

New Student named Rahul added
New Student named Raghav added
New Student named Vasu added

In [19]:
query = "Select * from classroom"
print ((cursor.execute(query)).fetchall())

[(1, 'Rahul', 'M', 84, 88, 81), (2, 'Raghav', 'M', 54, 55, 63), (3, 'Vasu', 'M', 89, 63, 78)]

In [23]:
!conda install -y -q pymysql

Solving environment: ...working... done

## Package Plan ##

  environment location: C:\ProgramData\Anaconda3

  added / updated specs:
    - pymysql


The following NEW packages will be INSTALLED:

    pymysql: 0.8.1-py_0 conda-forge

Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... failed
Rolling back transaction: ...working... done

==> WARNING: A newer version of conda exists. <==
  current version: 4.4.10
  latest version: 4.5.4

Please update conda by running

    $ conda update -n base conda


WARNING conda.gateways.disk:exp_backoff_fn(49): Uncaught backoff with errno EEXIST 17
ERROR conda.core.link:_execute(481): An error occurred while installing package 'None'.
PermissionError(13, 'Permission denied')
Attempting to roll back.


PermissionError(13, 'Permission denied')
FileExistsError(17, 'Cannot create a file when that file already exists')

In [22]:
import pymysql

### Connect to Oracle Database at localhost

In [4]:
import pandas as pd
import cx_Oracle
con = cx_Oracle.connect("hr/hr@localhost:1521/xe")
df  = pd.read_sql("Select * from countries", con)
print (df)

   COUNTRY_ID              COUNTRY_NAME  REGION_ID
0          AR                 Argentina          2
1          AU                 Australia          3
2          BE                   Belgium          1
3          BR                    Brazil          2
4          CA                    Canada          2
5          CH               Switzerland          1
6          CN                     China          3
7          DE                   Germany          1
8          DK                   Denmark          1
9          EG                     Egypt          4
10         FR                    France          1
11         IL                    Israel          4
12         IN                     India          3
13         IT                     Italy          1
14         JP                     Japan          3
15         KW                    Kuwait          4
16         ML                  Malaysia          3
17         MX                    Mexico          2
18         NG                   Nigeria          4
19         NL               Netherlands          1
20         SG                 Singapore          3
21         UK            United Kingdom          1
22         US  United States of America          2
23         ZM                    Zambia          4
24         ZW                  Zimbabwe          4